@charset "utf-8";

/* =========================
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. ID & Class
 * 4. Pseudoclass
 * 5. Media Queries
========================= */

/* ======= Reset ======= */
* {
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
::-moz-selection {
	color:				#fff;
	background:			#444;
}
::selection {
	color:				#fff;
	background:			#444;
}
html { overflow-y: scroll; }
body {
	width:				100%;
	min-width:			320px;
	margin:				auto;
	padding:			0;
	color:				#444;
	background: 		#f8f8f8 url(bg.jpg) repeat;
	font-family:		Verdana, Georgia, Helvetica,	/* Desktop	*/
						"Droid Sans", "Helvetica Neue",	/* Mobile	*/
						Sans-serif;						/* Fallback	*/
}
a {
	color:				#79B;
	outline:			0;
	text-decoration:	none;
}
a:hover { color: #E73; }
label {
	margin:				1rem auto;
	display: 			block;
}
input {
	width:				320px;
	margin:				auto;
	padding:			4px 8px;
	font-size:			1.2em;
}
hr {
	border:				1px solid;
	border-color:		#ccc transparent #fff;
}

/* ======= Imports ======= */

/* ====== Elements ====== */
body > * {
	width:				800px;
	margin:				auto;
}
header hgroup { padding: 2rem 0; }
header hgroup > * {
	margin:				auto;
	padding:			0;
	text-align:			center;
	cursor:				default;
}
header hgroup h1 {
	font-size:			500%;
	font-family:		'Squada One';
	text-shadow:		0 0 2px #000, 4px 4px 0 #ccc;
}
header hgroup h3 {
	margin-top:			-0.5rem;
	font-family:		'Exo';
	text-shadow:		0 0 1px #000;
}
header nav {
	height:				40px;
	margin:				1rem auto 0;
	border-bottom:		2px solid #444;
}
aside {
	top:				40%;
	width:				100%;
	position:			absolute;
}
section article {
	margin:				2rem;
}
address {
	float:				right;
	font-size:			0.8rem;
	margin-right:		3rem;
}
input[type="text"] {
	border:				1px solid #999;
	border-radius:		4px;
}
input[type="submit"] {
	width:				120px;
	height:				40px;
}
footer {
	margin:				2rem auto 4rem;
	text-align:			center;
}
footer a { margin: auto 1rem; }

/* ===== ID & Class ===== */
#portal {
	float:				right;
	margin:				17px auto;
}
#portal .switch {
	margin:				0 8px;
	min-width:			64px;
	display:			inline-block;
	cursor:				pointer;
	text-align:			center;
	border-bottom:		4px solid transparent;
}
#portal .active {
	border-bottom:		4px solid #444;
}
#title {
	color:				#444;
	font-size:			2em;
	font-family:		'Exo';
	display:			inline-block;
	text-shadow:		0 1px 1px #000;
}
#copyright {
	margin:				1rem auto;
	font-size:			0.75rem;
}
.navigator {
	width:				160px;
	height:				240px;
	line-height:		240px;
	font-size:			500%;
	color:				#999;
	opacity:			0.5;
	text-align:			center;
	cursor:				pointer;
	position:			relative;
}
.navigator.first {
	left:				64px;
	position:			absolute;
}
.navigator.last {
	right:				64px;
	position:			absolute;
}
.blog {
	margin:				1rem auto;
	padding:			1rem 2rem;
	display:			block;
	border:				1px solid transparent;
	border-radius:		4px;
}
.blog > time { float: right; }
.blog > h4 {
	margin:				auto;
	display:			inline-block;
}
.fade {
	-webkit-transition:	all 200ms ease;
	-moz-transition:	all 200ms ease;
	-ms-transition:		all 200ms ease;
	-o-transition:		all 200ms ease;
	transition:			all 200ms ease;
}

/* ===== Pseudoclass ===== */
#portal .switch:hover {
	border-color:		#C00;
}
.navigator:hover {
	color:				#444;
	opacity:			1;
	text-shadow:		0 0 50px #444;
}
.blog:hover {
	border-color:		#ccc;
	background-color:	rgba(255,255,255,0.25);
	box-shadow:			inset 0 0 3px 1px #fff, 2px 3px 10px -2px #ddd;
}

/* ==== Media Queries ==== */
@media all and (max-width: 840px) {
	body > * {
		width:				100%;
		padding:			0 1rem;
	} .navigator { display: none; }
	section article { margin: 2rem auto; }
}
@media all and (max-width: 640px) {
}
@media all and (max-width: 540px) {
	header nav { margin: 1rem auto 6rem; }
	#title {
		width:				100%;
		clear:				both;
		display:			block;
		text-align:			center;
	}
}
@media all and (max-width: 400px) {
	footer a { font-size: 80%; }
}
@media all and (orientation: portrait) {
	header hgroup { padding: 4rem 0; }
}
