@charset "utf-8";

#slider { position:relative; box-shadow: 0 1px 5px 0 #4a4a4a; background:#fff url(loading.gif) no-repeat 50% 50%; }
#slider img { position:absolute; top:0px; left:0px; display:none; }
#slider a { border:0; display:block; }

.nivo-directionNav a { display:block; width:32px; height:32px; background:url(arrows.png) no-repeat; text-indent:-9999px; border:0; }
.nivo-directionNav a.nivo-nextNav { background-position:-32px 0; right:16px; }
.nivo-directionNav a.nivo-prevNav { left:16px; }

.nivo-caption a { color:#fff; border-bottom:1px dotted #fff; }
.nivo-caption a:hover { color:#fff; }

.nivo-controlNav { text-align: center; padding: 20px 0; }
.nivo-controlNav a { display:inline-block; width:22px; height:22px; background:url(bullets.png) no-repeat; text-indent:-9999px; margin: 2px; }
.nivo-controlNav a.active { background-position:0 -22px; }
.nivo-controlNav.nivo-thumbs-enabled { width:100%; }
.nivo-controlNav.nivo-thumbs-enabled a { width:auto; height:auto; background:none; margin-bottom:5px; }
.nivo-controlNav.nivo-thumbs-enabled img { display:block; width:120px; height:auto; }
